{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} {% else %} Pulls dashboard {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('choice') }}">Home</a>
                {% if settings %}
                  <a class="navbar-brand" href="{{ url_for('dashboard_settings', name=name, owner=owner) }}">Dashboard settings</a>
                {% endif %}
                  
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block style %}
    <style type="text/css">
    td.hovered {
      background-color: red;
      color: red;
    }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
      $('tbody tr').hover(function(){
        $(this).find('td').addClass('hovered');
      }, function(){
        $(this).find('td').removeClass('hovered');
      });
    </script>
{% endblock %}

