<html>
  <head>
    {% if title %}
    <title>{{ title }} </title>
    {% else %}
    <title> Pulls dashboard </title>
    {% endif %}
    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
    <script src="{{url_for('static', filename='dashboard.js')}}"></script>
    <!-- build:css ../static-$dashboard.css -->
    <link rel="stylesheet" href="../static/dahsboard.css">
    <!-- endbuild -->

  </head>
  <body>
    <div>
      Pulls dashboard: 
      <a href="{{ url_for('choice') }}">Home</a>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li> {{ message }} </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
