{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} {% else %} Pulls dashboard {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('choice') }}">Home</a>
                {% if settings %}
                  <a class="navbar-brand" href="{{ url_for('dashboard_settings', name=name, owner=owner) }}">Dashboard settings</a>
                {% endif %}
                  
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
      $('tbody tr').hover(function(){
        $(this).find('td').addClass('hovered');
      }, function(){
        $(this).find('td').removeClass('hovered');
      });
    </script>
    <script>
      function search_animal() { 
        let input = document.getElementById('searchbar').value 
        input=input.toUpperCase(); 
        let y = document.getElementsByTagName('tr'); 
        console.log(y)
        let x = y.getElementsByClassName('title')
          
        for (i = 0; i < x.length; i++) {  
          if (!x[i].innerHTML.toUpperCase().includes(input)) { 
              x[i].style.display="none"; 
          } 
          else { 
              x[i].style.display="tr";                  
          } 
        } 
      } 
    </script>
    <script>
      const searchFun = () => {
        let filter = document.getElementById('searchbar').value.toUpperCase();
        let dashboard = document.getElementById('Dashboard');
        let tr = dashboard.getElementsByTagName('tr');
        for (i = 0; i < tr.length; i++) {  
          let td = tr[i].getElementsByTagName('td')[2];
          if(td){
            let title = td.getElementsByClassName('title')[0]
            let textvalue = title.textContent || title.innerHTML;
              if(textvalue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              }else{
                tr[i].style.display="none";
              }
          }
        }
      }
    </script>

{% endblock %}

