{% extends "base.html" %}

{% block app_content %}


  <h1>Dashboard for pull requests of <a href="{{ ''.join([repo_link]) }}" > {{ repo_link }} </a></h1>
  <table class="table table-bordered" style="width:1200px;">
  <thead>
    <tr>
      <th style="text-align:center">Author</th>
      <th style="text-align:center;table-layout: fixed;">Title</th>
      <th style="text-align:center;widh:180px">Status</th>
      <th style="text-align:center">Labels</th>
      <th style="text-align:center; width:250px;">Changes</th>
      <th style="text-align:center">Reviewed</th>
      <th style="text-align:center">Approved</th>
      <th style="text-align:center">Last event</th>

    </tr>
  </thead>
  <tbody>
    {% set max_changes=max_changes %}
    {% for pull in pull_requests %} 
      <tr>
        {% set author = pull.author %}
        
        <td style="text-align:center"> 
          <img src="{{ people[author].avatar }}" style="width:55px;height:55px;"> <br>
          <b> {{ author }} </b>
          <br> <font color="navy"> {{ people[author].association }} </font> 
        </td>
        <td style="text-align:center;overflow:hidden;width:280px;">  <p style="width:280px;text-align:center;"> [{{ pull.number }}] {{ pull.title }} </p>
          <p> <font color="grey"> Created {{ moment(pull.created).fromNow() }} </font>  </p><p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{pull.number}}" aria-expanded="false" >
                Show description 
              </button>
            </p>
            <div class="collapse" id="{{ pull.number }}">
              <div class="card card-body">
                <p style="text-align:center; width:280px;"> {{ pull.description }} </p>
              </div>
            </div>
        </td>
        <td> {% set statuses=pull.statuses %}
             {% set tests=pull.tests %}
             {% if "success" in statuses %}
              <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#{{pull.number}}_succ" aria-expanded="false" style="width:135px;">
              {{ statuses["success"] }} success
                </button>
                <div class="collapse" id="{{ pull.number }}_succ">
                  <div class="card card-body" style="overflow-y: scroll; height:200px;">
                  <table class="table table-condensed">
                    {% for test in tests["success"] %}
                      <tr> 
                        <td>
                          {{ test.context }} 
                          <br>
                          <font color="grey">{{ moment(test.time).fromNow() }} </font>
                        </td>
                      </tr> 
                    {% endfor %}
                  </table>
                  </div>
                </div>
              <br>
             {% endif %}
             {% if "pending" in statuses %}
              <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#{{pull.number}}_pend" aria-expanded="false" style="width:135px;" >
              {{ statuses["pending"] }} pending
                </button>
                <div class="collapse" id="{{ pull.number }}_pend">
                  <div class="card card-body" style="overflow-y: scroll; height:200px;">
                  <table class="table table-condensed">
                    {% for test in tests["pending"] %}
                      <tr> 
                        <td>
                          {{ test.context }} 
                          <br>
                          <font color="grey">{{ moment(test.time).fromNow() }} </font>
                        </td>
                      </tr> 
                    {% endfor %}
                  </table>
                  </div>
                </div>
              <br>
             {% endif %}
             {% if "error" in statuses or "failure" in statuses %}
              <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#{{pull.number}}_err" aria-expanded="false" style="width:135px;" >
                {% if statuses["error"] %}
                  {% if statuses["failure"] %}
                    {{ statuses["error"] }} error,
                  {% else %}
                    {{ statuses["error"] }} error
                  {% endif %}
                {% endif %}
                {% if statuses["failure"] %}
                  {{ statuses["failure"] }} failure
                {% endif %}
                </button>
                <div class="collapse" id="{{ pull.number }}_err">
                  <div class="card card-body" style="overflow-y: scroll; height:200px;">
                  <table class="table table-condensed">
                    {% if tests["error"] %}
                      {% for test in tests["error"] %}
                        <tr> 
                          <td>
                            {{ test.context }} 
                            <br>
                            <font color="grey">{{ moment(test.time, "%Y-%m-%dT%H:%M:%SZ").fromNow() }} </font>
                          </td>
                        </tr> 
                      {% endfor %}
                    {% endif %}
                    {% if tests["failure"] %}
                      {% for test in tests["failure"] %}
                        <tr> 
                          <td>
                            {{ test.context }} 
                            <br>
                            <font color="grey">{{ moment(test.time).fromNow() }} </font>
                          </td>
                        </tr> 
                      {% endfor %}
                    {% endif %}
                  </table>
                  </div>
                </div>
             {% endif %}
        </td>
        <td> {% for elem in pull.labels %}
             <span class="label" style="background-color: #{{ labels[elem].color }};">{{ elem }} </span>  <br>
             {% endfor %}
        </td>
        <td style="text-align:center; width:230px;"> {% set changes = pull.changes %}  
             {{ changes.commits }} commits created <br>
             lines: + {{ changes.additions }}, - {{ changes.deletions }}<br>
             {% if max_changes > 0 and changes.total > 0 %}
              {% set len=changes.log/max_changes*100 %}
              {% set additions=(changes.additions/changes.total)*len %}
              {% set deletions=(changes.deletions/changes.total)*len %}
             {% else %}
              {% set additions = 0 %}
              {% set deletions = 0 %}
             {% endif %}
             <div class="progress" style="text-align:center; width:230px;">
               <div class="progress-bar progress-bar-success" style="width: {{ additions }}%">
                 <span class="sr-only"> {{ changes.additions }} lines added </span>
               </div>
               <div class="progress-bar progress-bar-danger" style="width: {{ deletions }}%">
                 <span class="sr-only"> {{ changes.deletions }} lines deleted </span>
               </div>
             </div>

        </td>
        <td> {% for person in pull.reviewed %}
             <img src="{{ people[person].avatar }}" style="width:55px;height:55px;"> 
             {% endfor %}
        </td>
        <td> {% for person in pull.approved %}
             <img src="{{ people[person].avatar }}" style="width:55px;height:55px;"> 
             {% endfor %}
        </td>
        <td style="text-align:center;"> {% set action = pull.last_action %}
            <img src="{{ people[author].avatar }}" style="width:55px;height:55px;"> <br>
            {{ pull.last_action.event }}
            <br> <font color="grey"> {{ moment(pull.last_action.time).fromNow() }} </font>
        </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}


