{% extends "base.html" %}

{% block app_content %}
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css" >
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!--    <link rel="stylesheet" href="jquery.dropdown.css"> --!>
  </head>
  <style type="text/css">
  .table_.hovered {
    background-color: #EDEDED;
    color: black;
  }
  tbody .table_ {
  background-color: white;
  }
  #filter { display: none; }
  #searchbar{
     margin-left: 0%;
     padding:15px;
     border-radius: 10px;
   }

   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }

   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 70%;
   }

  #tr{
    font-size:  1.5em;
    margin-left: 90px;
   }

  </style>
  <select class="labels" name="labels" multiple="multiple">
      {% for elem in labels %}
        <option  data-content="<span class='badge'>{{ elem }} </span>"> {{ elem  }}  </option>
      {% endfor %}
  </select>
  <select class="people" name="people" multiple="multiple">
      {% for elem in people %}
        <option  data-content="<span class='badge'>{{ elem }} </span>"> {{ elem  }}  </option>
      {% endfor %}
  </select>

  </div>
  <input type="text" name="filter" value="" id="filter" />
  <input id="searchbar"  type="text" name="search" placeholder="Search pull requests.." onkeyup="searchFun()">
  <h1>Dashboard for pull requests of <a href="{{ ''.join([repo_link]) }}" > {{ repo_link }} </a></h1>
  <table id="Dashboard" class="display table table-bordered nowrap responsive" style="width: 100%;">
  <thead>
    <tr>
      <th></th>
      <th style="text-align:center"> <label for="tbl_col_1"> Author</label></th>
      <th style="text-align:center;table-layout: fixed;" onclick="sortTable('title')"><label for="tbl_col_2">Title</label></th>
      <th style="text-align:center;widh:180px" onclick="sortTable('tests')"><label for="tbl_col_3">Status</label></th>
      <th style="text-align:center">Labels</th>
      <th style="text-align:center; width:250px;" onclick="sortTable('changes')">Changes</th>
      <th style="text-align:center">Reviewed</th>
      <th style="text-align:center">Approved</th>
      <th style="text-align:center" onclick="sortTable('updated')">Last event</th>

    </tr>
  </thead>
  <tbody>
    {% set max_changes=max_changes %}
    {% for pull in pull_requests %} 
      <tr>
        {% set author = pull.author %}
        <td class="table_"> 
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
            <label class="custom-control-label" for="defaultChecked2"></label>
          </div>
        </th>
        <td style="text-align:center" class="table_ author" id={{author}}> 
          <img src="{{ people[author].avatar }}" style="width:55px;height:55px;"> <br>
          <b> {{ author }} </b>
          <br> <font color="navy"> {{ people[author].association }} </font> 
        </td>
        <td class="table_" style="text-align:center;overflow:hidden;width:280px;">  <p class="title" style="width:280px;text-align:center;"> [{{ pull.number }}] {{ pull.title }} </p>
          <p> <font color="grey"> Created {{ moment(pull.created).fromNow() }} </font>  </p><p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{pull.number}}" aria-expanded="false" >
                Show description 
              </button>
            </p>
            <div class="collapse" id="{{ pull.number }}">
              <div class="card card-body">
                <p style="text-align:center; width:280px;"> {{ pull.description }} </p>
              </div>
            </div>
        </td>
        <td class="tests table_"> {% set statuses=pull.statuses %}
             {% set tests=pull.tests %}
             {% if "success" in statuses %}
              <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#{{pull.number}}_succ" aria-expanded="false" style="width:135px; ">
                <div class="success" id={{statuses["success"]}} >
              {{ statuses["success"] }} success
              </div>
              </button>
                <div class="collapse" id="{{ pull.number }}_succ">
                  <div class="card card-body" style="overflow-y: scroll; height:200px;">
                  <table class="table table-condensed">
                    {% for test in tests["success"] %}
                      <tr> 
                        <td>
                          {{ test.context }} 
                          <br>
                          <font color="grey">{{ moment(test.time).fromNow() }} </font>
                        </td>
                      </tr> 
                    {% endfor %}
                  </table>
                  </div>
                </div>
              <br>
             {% endif %}
             {% if "pending" in statuses %}
              <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#{{pull.number}}_pend" aria-expanded="false" style="width:135px;" >
              <div class="pending" id={{statuses["pending"]}}>
              {{ statuses["pending"] }} pending
              </div>
                </button>
                <div class="collapse" id="{{ pull.number }}_pend">
                  <div class="card card-body" style="overflow-y: scroll; height:200px;">
                  <table class="table table-condensed">
                    {% for test in tests["pending"] %}
                      <tr> 
                        <td>
                          {{ test.context }} 
                          <br>
                          <font color="grey">{{ moment(test.time).fromNow() }} </font>
                        </td>
                      </tr> 
                    {% endfor %}
                  </table>
                  </div>
                </div>
              <br>
             {% endif %}
             {% if "error" in statuses or "failure" in statuses %}
              <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#{{pull.number}}_err" aria-expanded="false" style="width:135px;" >
                {% if statuses["error"] %}
                  {% if statuses["failure"] %}
                    <div class="error" id={{statuses["error"]}}>
                    {{ statuses["error"] }} error,
                    </div>
                  {% else %}
                    <div class="error" id={{statuses["error"]}}>
                    {{ statuses["error"] }} error
                    </div>
                  {% endif %}
                {% endif %}
                {% if statuses["failure"] %}
                  <div class="failure" id={{statuses["failure"]}}>
                  {{ statuses["failure"] }} failure
                  </div>
                {% endif %}
                </button>
                <div class="collapse" id="{{ pull.number }}_err">
                  <div class="card card-body" style="overflow-y: scroll; height:200px;">
                  <table class="table table-condensed">
                    {% if tests["error"] %}
                      {% for test in tests["error"] %}
                        <tr> 
                          <td>
                            {{ test.context }} 
                            <br>
                            <font color="grey">{{ moment(test.time, "%Y-%m-%dT%H:%M:%SZ").fromNow() }} </font>
                          </td>
                        </tr> 
                      {% endfor %}
                    {% endif %}
                    {% if tests["failure"] %}
                      {% for test in tests["failure"] %}
                        <tr> 
                          <td>
                            {{ test.context }} 
                            <br>
                            <font color="grey">{{ moment(test.time).fromNow() }} </font>
                          </td>
                        </tr> 
                      {% endfor %}
                    {% endif %}
                  </table>
                  </div>
                </div>
             {% endif %}
        </td>
        <td class="table_"> {% for elem in pull.labels %}
             <span class="label" style="background-color: #{{ labels[elem].color }};">{{ elem }}</span>  <br>
             {% endfor %}
        </td>
        <td class="table_ changes" style="text-align:center; width:230px;" id={{pull.changes.total}}> {% set changes = pull.changes %}  
             {{ changes.commits }} commits created <br>
             lines: + {{ changes.additions }}, - {{ changes.deletions }}<br>
             {% if max_changes > 0 and changes.total > 0 %}
              {% set len=changes.log/max_changes*100 %}
              {% set additions=(changes.additions/changes.total)*len %}
              {% set deletions=(changes.deletions/changes.total)*len %}
             {% else %}
              {% set additions = 0 %}
              {% set deletions = 0 %}
             {% endif %}
             <div class="progress" style="text-align:center; width:230px;">
               <div class="progress-bar progress-bar-success" style="width: {{ additions }}%">
                 <span class="sr-only"> {{ changes.additions }} lines added </span>
               </div>
               <div class="progress-bar progress-bar-danger" style="width: {{ deletions }}%">
                 <span class="sr-only"> {{ changes.deletions }} lines deleted </span>
               </div>
             </div>

        </td>
        <td class="table_"> {% for person in pull.reviewed %}
             <img src="{{ people[person].avatar }}" style="width:55px;height:55px;"> 
             {% endfor %}
        </td>
        <td class="table_"> {% for person in pull.approved %}
             <img src="{{ people[person].avatar }}" style="width:55px;height:55px;"> 
             {% endfor %}
        </td>
        <td style="text-align:center;" class="updated table_"> {% set action = pull.last_action %}
            <img src="{{ people[action.person].avatar }}" style="width:55px;height:55px;"> <br>
            {{ action.event }}
            <br> <font color="grey"> {{ moment(action.time).fromNow() }} </font>
        </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}


